<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
<div class="col-8 m-auto pt-2 pb-2 text-center">
    <h1>Menu</h1>
</div>

<div class="col-8 m-auto pt-3 pb-2 text-center">
    <a href="/login/" class="btn btn-danger btnDel">Sair</a>
    <a href="/usuarios" class="m-1 btn btn-dark">Usuários</a>
    <a href="/clientes" class="m-1 btn btn-dark">Clientes</a>
    <a href="/livros" class="m-1 btn btn-dark">Livros</a>
    <a href="/caixa" class="m-1 btn btn-dark">Vendas</a>
</div>
